body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.ball-container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #df85f6;
    overflow: hidden;
}

.ball {
    position: absolute;
    border-radius: 50%;
    opacity: 0.9;
    cursor: pointer;
    transition: transform 0.2s;
}
